<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.deverp.core.mapper.TestCaseMapper">
  <select id="findAll" resultType="TestCase">
    SELECT * FROM test_case
  </select>

  <select id="findById" resultType="TestCase">
    SELECT * FROM test_case WHERE id = #{id}
  </select>

  <insert id="insert" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO test_case (
      scenario, precondition, input_value, expected_result, created_at, updated_at
    ) VALUES (
      #{scenario}, #{precondition}, #{inputValue}, #{expectedResult}, NOW(), NOW()
    )
  </insert>

  <update id="update">
    UPDATE test_case
    SET scenario = #{scenario},
        precondition = #{precondition},
        input_value = #{inputValue},
        expected_result = #{expectedResult},
        updated_at = NOW()
    WHERE id = #{id}
  </update>

  <delete id="delete">
    DELETE FROM test_case WHERE id = #{id}
  </delete>
</mapper>
